@import "tailwindcss";

@theme {
  --font-sans: "GmarketSans", system-ui, -apple-system, sans-serif;
  --font-headline-lg: "GmarketSans", sans-serif;
  --font-headline-md: "GmarketSans", sans-serif;
  --font-headline-sm: "GmarketSans", sans-serif;
  --font-body-lg: "GmarketSans", sans-serif;
  --font-body-md: "GmarketSans", sans-serif;
  --font-label-md: "GmarketSans", sans-serif;
  --font-label-sm: "GmarketSans", sans-serif;

  --color-primary-fixed: #c9f07c;
  --color-surface-container-highest: #e5e2db;
  --color-on-primary: #ffffff;
  --color-tertiary-fixed: #f5ded4;
  --color-primary: #3c5500;
  --color-surface-container-high: #ebe8e0;
  --color-primary-fixed-dim: #add463;
  --color-outline-variant: #c4c9b4;
  --color-inverse-on-surface: #f3f1e9;
  --color-outline: #747967;
  --color-on-secondary-fixed: #171e00;
  --color-on-tertiary-fixed: #251913;
  --color-secondary-fixed-dim: #b9d164;
  --color-on-tertiary: #ffffff;
  --color-surface-variant: #e5e2db;
  --color-[#ffe7dd]: #ffe7dd;
  --color-tertiary-container: #73625a;
  --color-on-tertiary-fixed-variant: #53433c;
  --color-background: #fcf9f1;
  --color-secondary-container: #d2ea7a;
  --color-surface-container-low: #f6f3eb;
  --color-on-error: #ffffff;
  --color-secondary: #536500;
  --color-error-container: #ffdad6;
  --color-surface: #fcf9f1;
  --color-tertiary: #5a4a43;
  --color-inverse-primary: #add463;
  --color-error: #ba1a1a;
  --color-surface-container: #f1eee6;
  --color-on-secondary-container: #576a00;
  --color-on-secondary-fixed-variant: #3e4c00;
  --color-primary-container: #4f6f00;
  --color-on-secondary: #ffffff;
  --color-surface-tint: #496800;
  --color-surface-dim: #dcdad2;
  --color-surface-container-lowest: #ffffff;
  --color-on-primary-container: #c9f17c;
  --color-on-surface-variant: #444939;
  --color-tertiary-fixed-dim: #d8c2b8;
  --color-inverse-surface: #31312c;
  --color-on-primary-fixed: #141f00;
  --color-secondary-fixed: #d5ed7d;
  --color-on-tertiary-container: #f7dfd5;
  --color-surface-bright: #fcf9f1;
  --color-on-surface: #1c1c17;
  --color-on-error-container: #93000a;
  --color-on-primary-fixed-variant: #364e00;
  --color-on-background: #1c1c17;
}

body {
  font-family: 'GmarketSans', sans-serif;
  background-color: #f1eee6;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
